@model HomeViewModel

<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#header-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Sliders.Count; i++)
            {
                <div class="carousel-item @(i==0 ? "active" : "")">
                    <img class="w-100" src="~/assets/img/@Model.Sliders[i].ImageUrl" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h5 class="text-white text-uppercase animated bounceInDown">@Model.Sliders[i].Title</h5>
                            <h1 class="display-1 text-white mb-md-4 animated zoomIn">@Model.Sliders[i].Desc</h1>
                            <a href="@Model.Sliders[i].RedirectUrl1" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Sitat alın</a>
                            <a href="@Model.Sliders[i].RedirectUrl2" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Bizimlə əlaqə saxlayın</a>
                        </div>
                    </div>
                </div>

            }

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.3s" src="~/assets/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">About Us</h5>
                    <h1 class="display-5 mb-0">Keyfiyyətli CCTV Sistemləri və Xidmətləri Təklif edirik</h1>
                </div>
                <h4 class="text-body fst-italic mb-4">Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem sit clita duo justo magna dolore</h4>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet et magna</p>
                <div class="row g-3">
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                        <div class="bg-primary d-flex flex-column justify-content-center text-center border-bottom border-5 border-secondary rounded p-3" style="height: 200px;">
                            <i class="fa fa-star fa-4x text-white mb-4"></i>
                            <h4 class="text-white mb-0">15 İllik Təcrübə</h4>
                        </div>
                    </div>
                    <div class="col-sm-6 wow zoomIn" data-wow-delay="0.9s">
                        <div class="bg-secondary d-flex flex-column justify-content-center text-center border-bottom border-5 border-primary rounded p-3" style="height: 200px;">
                            <i class="fa fa-award fa-4x text-white mb-4"></i>
                            <h4 class="text-white mb-0">Mükafat qazanan</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Services Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Services</h5>
            <h1 class="display-5 mb-0">CCTV Təhlükəsizlik Xidmətlərimiz</h1>
        </div>
        <div class="row g-5">
            @for (int i = 0; i < Model.Services.Count; i++)
            {
                <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                    <div class="service-item bg-light border-bottom border-5 border-primary rounded">
                        <div class="position-relative p-5">
                            @Html.Raw(Model.Services[i].Icon)
                            <h5 class="text-primary mb-0">CCTV</h5>
                            <h3 class="mb-3">@Model.Services[i].Title</h3>
                            <p>@Model.Services[i].Desc</p>
                            <a href="@Model.Services[i].RedirectUrl">Read More<i class="bi bi-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- Services End -->
<!-- Pricing Plan Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s" style="margin-bottom: 75px;">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Pricing Plan</h5>
            <h1 class="display-5 mb-0">CCTV Təhlükəsizlik Xidmətləri üçün Qiymət Planı</h1>
        </div>
        <div class="row g-5">
            @for (int i = 0; i < Model.Pricings.Count; i++)
            {
                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="position-relative border border-primary rounded">
                        <div class="bg-primary text-center pt-5 pb-4">
                            <h3 class="text-white">@Model.Pricings[i].Plan</h3>
                            <h1 class="display-4 text-white">
                                <small class="align-top"
                                   style="font-size: 22px; line-height: 45px;">₼</small>@Model.Pricings[i].Price<small class="align-bottom" style="font-size: 16px; line-height: 40px;">
                                    /
                                    Mo
                                </small>
                            </h1>
                        </div>
                        <div class="text-center py-5">
                            <p class="border-bottom border-light mb-2 pb-2">HTML5 & CSS3</p>
                            <p class="border-bottom border-light mb-2 pb-2">Bootstrap v5</p>
                            <p class="border-bottom border-light mb-2 pb-2">Responsive Layout</p>
                            <p class="border-bottom border-light mb-2 pb-2">Browsers Compatibility</p>
                            <p class="mb-2 pb-2">Easy to Use</p>
                        </div>
                        <a href="@Model.Pricings[i].RedirectUrl" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Order Now</a>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- Pricing Plan End -->
<!-- Offer Start -->
<div class="container-fluid bg-offer my-5 py-5 wow zoomIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="text-center mx-auto mb-4" style="max-width: 600px;">
                    <h5 class="text-white text-uppercase" style="letter-spacing: 5px;">Special Offer</h5>
                    <h1 class="display-5 text-white">İlk Sifarişinizdə Bütün Məhsullara 50% qənaət edin</h1>
                </div>
                <p class="text-white mb-4">Eirmod sed tempor lorem ut dolores sit kasd ipsum. Dolor ea et dolore et at sea ea at dolor justo ipsum duo rebum sea. Eos vero eos vero ea et dolore eirmod et. Dolores diam duo lorem. Elitr ut dolores magna sit. Sea dolore sed et.</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Order Now</a>
                <a href="" class="btn btn-secondary py-md-3 px-md-5">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Team Members</h5>
            <h1 class="display-5 mb-0">Peşəkar Komanda üzvlərimiz</h1>
        </div>
        <div class="row g-5">
            @for (int i = 0; i < Model.Teams.Count; i++)
            {

                <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                    <div class="position-relative rounded-top">
                        <img class="~/assets/img-fluid rounded-top w-100" src="~/assets/img/@Model.Teams[i].ImageUrl" alt="">
                        <div class="position-absolute bottom-0 end-0 d-flex flex-column bg-white p-1" style="margin-right: -25px;">
                            <a class="btn btn-outline-secondary btn-square m-1" href="@Model.Teams[i].TwitterUrl"><i class="fab fa-twitter fw-normal"></i></a>
                            <a class="btn btn-outline-secondary btn-square m-1" href="@Model.Teams[i].FacebookUrl"><i class="fab fa-facebook-f fw-normal"></i></a>
                            <a class="btn btn-outline-secondary btn-square m-1" href="@Model.Teams[i].LinkedInUrl"><i class="fab fa-linkedin-in fw-normal"></i></a>
                            <a class="btn btn-outline-secondary btn-square m-1" href="@Model.Teams[i].InstagramUrl"><i class="fab fa-instagram fw-normal"></i></a>
                        </div>
                    </div>
                    <div class="bg-primary text-center rounded-bottom p-4">
                        <h3 class="text-white">@Model.Teams[i].Fullname</h3>
                        <p class="text-white m-0">@Model.Teams[i].Designation</p>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Testimonial</h5>
            <h1 class="display-5 mb-0">İnsanların Xidmətlərimiz Haqqında Dedikləri</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
            @for (int i = 0; i < Model.Testimonials.Count; i++)
            {
                <div class="text-center pb-4">
                    <img class="~/assets/img-fluid mx-auto rounded-circle" src="~/assets/img/@Model.Testimonials[i].ImageUrl" style="width: 100px; height: 100px;">
                    <div class="testimonial-text bg-light rounded p-4 mt-n5">
                        <p class="mt-5">
                            @Model.Testimonials[i].Title
                        </p>
                        <h4 class="text-truncate">@Model.Testimonials[i].Name</h4>
                        <i>@Model.Testimonials[i].Profession</i>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Blog Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h5 class="text-primary text-uppercase" style="letter-spacing: 5px;">Blog Post</h5>
            <h1 class="display-5 mb-0">Blog Postumuzdan Ən Son Məqalələr</h1>
        </div>
        <div class="row g-5">
            @for (int i = 0; i < Model.Blogs.Count; i++)
            {

                <div class="col-lg-6 wow slideInUp" data-wow-delay="0.3s">
                    <div class="blog-item">
                        <div class="position-relative">
                            <img class="~/assets/img-fluid w-100 rounded-top" src="~/assets/img/@Model.Blogs[i].ImageUrl" alt="">
                            <div class="blog-date">
                                <h5 class="text-white fw-bold mb-0">@Model.Blogs[i].Day</h5>
                                <h6 class="text-light mb-0">@Model.Blogs[i].Month</h6>
                            </div>
                        </div>
                        <div class="bg-primary rounded-bottom p-5">
                            <div class="d-flex mb-3">
                                <span class="text-light text-uppercase">@Model.Blogs[i].Position</span>
                                <span class="text-light px-2">|</span>
                                <span class="text-light text-uppercase">@Model.Blogs[i].Profession</span>
                            </div>
                            <a class="h3 m-0 text-white" href="">@Model.Blogs[i].Title</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Blog End -->